@use "/src/styles/colors";
@use "/src/styles/mixins/transitions";

.container {
  display: block;
  position: relative;
  min-height: 45rem;
  width: 99.2vw;

  & img {
    z-index: -10;
    position: absolute;
    width: 100%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
    min-height: inherit;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.content {
  padding-top: 10rem;
  display: block;
  height: 100%;
}

.trailerContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.8rem;
  height: 5rem;
  width: 10.5rem;
  margin-bottom: 2rem;
  color: colors.$font-default;
  text-decoration: none;

  & > span {
    display: inline-block;
  }

  &:hover {
    color: colors.$font-accent;

    .trailerIcon path {
      fill: colors.$font-accent;
      @include transitions.default(fill);
    }

    @include transitions.default(color);
  }
}

.trailerIcon {
  height: 5rem;
  width: 5rem;
}

.shortDetails {
  display: flex;
  margin-bottom: 1.5em;

  & span {
    margin-right: 1rem;
  }
}

.rating {
  display: flex;
  align-items: center;
  flex-direction: row;

  & svg {
    margin-right: 0.4em;
    height: 1.6rem;
    width: 1.6rem;
  }
}

.separator {
  color: colors.$font-accent;
}

.description {
  line-height: 1.5em;
  height: auto;
  display: block;
}
