@use "/src/styles/colors";
@use "/src/styles/sizes";
@use "/src/styles/mixins/breakpoints";

.container {
  background-color: colors.$bg-secondary;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: sizes.$border-radius;
  padding: 0 3rem;

  @include breakpoints.breakpoint(mobile) {
    padding: 0 1.5rem;
  }
}

.username {
  font-weight: 700;
}

.tab {
  margin-right: 2rem;
  text-transform: capitalize;
}

.activeTab {
  color: red;
}

.profileImage {
  position: relative;
  cursor: pointer;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid rgba(#000, 0);
}
