@use "/src/styles/colors";
@use "/src/styles/mixins/breakpoints";
@use "/src/styles/mixins/transitions";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  cursor: pointer;

  &:hover {
    .img {
      filter: blur(2px);
      @include transitions.default(filter);
    }

    .title {
      color: colors.$font-accent;
      @include transitions.default(color);
    }

    .playButton {
      width: 8rem;
      z-index: 10;
      @include transitions.default(width);

      @include breakpoints.breakpoint(mobile) {
        width: 6rem;
      }
    }

    .bookmark {
      width: 3rem;
      height: 3rem;
      @include transitions.default(all);
    }

    .lastEpisode {
      width: 3rem;
      height: 3rem;
      @include transitions.default(all);
      border: 0.2rem solid colors.$bg-accent;
      font-size: 1.5rem;
    }
  }
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  transform: translate(-43%, -50%);
  @include transitions.default(width);
}

.imageContainer {
  position: relative;
}

.bookmark {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 0rem;
  height: 0rem;
  @include transitions.default(all);
}

.lastEpisode {
  top: 5%;
  right: 10%;
  position: absolute;
  width: 0rem;
  height: 0rem;
  font-size: 0;

  @include transitions.default(all);

  background: colors.$bg-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}

.img {
  aspect-ratio: 4/6;
  object-fit: cover;
  object-position: center;
  border-radius: 1.6rem;
  @include transitions.default(filter);
}

.title {
  color: colors.$font-headers;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.8em;
}

.genres {
  font-size: 1.2rem;
  margin: 0.8em 0;
}

.genre {
  margin-right: 1rem;
}
