@use "/src/styles/colors";
@use "/src/styles/mixins/breakpoints";

.container {
  margin-top: 5rem;

  @include breakpoints.breakpoint(mobile) {
    margin-top: 3rem;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    margin-top: 4rem;
  }
}

.catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;

  @include breakpoints.breakpoint(mobile) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3vw;
    row-gap: 3vw;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5vw;
    row-gap: 2.5vw;
  }
}
