@use "/src/styles/colors";
@use "/src/styles/mixins/transitions";
@use "/src/styles/sizes";

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    border: 0.2rem solid rgba($color: #000000, $alpha: 0);
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    border-radius: sizes.$border-radius;
    @include transitions.default(all);
  }

  &:hover {
    & span {
      border: 2px solid colors.$bg-accent;
      box-shadow: 0px 0px 4px 1px colors.$bg-accent;
      background-color: colors.$bg-primary;
      border-radius: sizes.$border-radius;
      @include transitions.default(all);
    }
  }

  &:active {
    & span {
      background-color: colors.$bg-accent;
      color: colors.$bg-primary;
    }
  }
}

.pressed span {
  border: 2px solid colors.$bg-accent;
  box-shadow: 0px 0px 4px 1px colors.$bg-accent;
  background-color: colors.$bg-primary;
  border-radius: sizes.$border-radius;
}
