@use "/src/styles/colors";

.svg {
  height: 1.6rem;
  width: 1.6rem;
  position: relative;
  top: 0.25rem;

  & > path {
    stroke: colors.$bg-accent;
    stroke-width: 0.2rem;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
