@use "/src/styles/colors";
@use "/src/styles/sizes";
@use "/src/styles/mixins/breakpoints";

.container {
  margin-top: 3rem;
  background-color: colors.$bg-secondary;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: sizes.$border-radius;
  padding: 0 3rem;

  @include breakpoints.breakpoint(mobile) {
    padding: 0 1.5rem;
  }
}

.input {
  background-color: colors.$bg-primary;
}

.button {
  background-color: colors.$bg-accent;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: sizes.$border-radius;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: colors.$font-headers;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  border: 2px solid rgba(#000, 0);
  cursor: pointer;
}

.disabledButton {
  background-color: colors.$bg-dark-grey;
  color: colors.$font-grey;
  cursor: default;
}
