@use '/src/styles/colors';
@use '/src/styles/mixins/transitions';

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1.2rem;
}

.text {
  @include transitions.default(color);
}

.text:hover {
  color: colors.$font-accent;
  @include transitions.default(color);
}

.button {
  margin-left: 0.5rem;
}

.icon {
  & > path {
    fill: colors.$bg-accent;
  }
}
