//Colors
$font-default: #e0e0e0;
$font-headers: #ffffff;
$font-accent: #2f80ed;
$font-yel-accent: #eec312;
$font-error: #ee0900;

$bg-primary: #131720;
$bg-secondary: #151f30;
$bg-ternary: #1d3c69;
$bg-accent: #2f80ed;
$bg-error: #ee0900;
