@use 'fonts';
@use './mixins/breakpoints';
@use 'sizes';
@use 'colors';

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font: {
    size: 10px;
    family: 'Roboto', sans-serif;
  }
}

body {
  font-size: 1.4rem;
  color: colors.$font-default;
  background-color: colors.$bg-primary;
}

img,
picture,
video {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.wrapper {
  padding: 0 calc((100% - sizes.$max-wrapper-width) / 2);

  @include breakpoints.breakpoints(mobile) {
    padding: 0 2.5vw;
  }

  @include breakpoints.breakpoints(laptop-desktop) {
    padding: 0 100px;
  }
}

.wrapperM {
  margin: 0 calc((100% - sizes.$max-wrapper-width) / 2);

  @include breakpoints.breakpoints(mobile) {
    margin: 0 2.5vw;
  }

  @include breakpoints.breakpoints(laptop-desktop) {
    margin: 0 100px;
  }
}
