@use "fonts";
@use "./mixins/breakpoints";
@use "sizes";
@use "colors";

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font: {
    size: 10px;
    family: "Roboto", sans-serif;
  }
}

body {
  font-size: 1.6rem;
  color: colors.$font-default;
  background-color: colors.$bg-primary;
}

img,
picture,
video {
  max-width: 100%;
}

h1 {
  color: colors.$font-headers;
  margin-bottom: 0.5em;
  font-size: 3.6rem;
  font-weight: 500;
}

h2 {
  color: colors.$font-headers;
  margin-bottom: 1em;
  font-size: 3rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.wrapper {
  padding: 0 calc((100% - sizes.$max-wrapper-width) / 2);

  @include breakpoints.breakpoint(mobile) {
    padding: 0 2.5vw;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    padding: 0 100px;
  }
}

.wrapperM {
  margin: 0 calc((100% - sizes.$max-wrapper-width) / 2);

  @include breakpoints.breakpoint(mobile) {
    margin: 0 2.5vw;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    margin: 0 100px;
  }
}
