@use "/src/styles/colors";
@use "/src/styles/mixins/transitions";
@use "/src/styles/mixins/breakpoints";

.container {
  position: relative;
  margin-bottom: 3rem;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 0px;
  }
}

.card {
  scroll-snap-align: start;
  margin-right: 3rem;

  &:last-child {
    margin-right: 0;
  }
}

.button {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: linear-gradient(90deg, rgba(#000, 0.5) 0%, rgba(#000, 0) 100%);
    cursor: pointer;

    & path {
      fill: rgba(colors.$font-accent, 1);
      @include transitions.default(fill);
    }
  }
}

.right {
  right: 0;

  &:hover {
    cursor: pointer;
    background: linear-gradient(270deg, rgba(#000, 0.5) 0%, rgba(#000, 0) 100%);
  }
}
