@use '/src/styles/colors';
@use '/src/styles/mixins/transitions';

.search {
  display: flex;
  position: relative;
}

.input {
  padding: 1rem 6rem 1rem 2rem;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;

  &:hover {
    .magnifier {
      fill: colors.$font-headers;
      @include transitions.default(fill);
      
    }
  }
}

.image {
  height: 2rem;
  width: 2rem;
}

.magnifier {
  fill: colors.$bg-accent;
  @include transitions.default(fill);
  
}
