@use "/src/styles/colors";
@use "/src/styles/mixins/breakpoints";
@use "/src/styles/mixins/transitions";

.container {
  position: relative;
  display: inline-block;
  border-radius: 1.6rem;
  cursor: pointer;

  &:hover {
    .img {
      filter: blur(2px);
      @include transitions.default(filter);
    }

    .playButton {
      width: 8rem;
      z-index: 10;
      @include transitions.default(width);

      @include breakpoints.breakpoint(mobile) {
        width: 6rem;
      }
    }

    .title {
      color: colors.$font-accent;
      @include transitions.default(color);
    }

    .bookmark {
      width: 3rem;
      height: 3rem;
      @include transitions.default(all);
    }

    .imgTransperent {
      opacity: 0.5;
    }

    .rightCornerContent {
      opacity: 1;

      width: auto;
      height: auto;
      @include transitions.default(all);
    }
  }
}

.imageContainer {
  position: relative;
}

.img {
  object-fit: cover;
  object-position: center;
  border-radius: 1.6rem;
  @include transitions.default(filter);
}

.imgTransperent {
  opacity: 0.7;
  background-color: black;
}

.rightCornerContent {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 10%;
  @include transitions.default(all);
}

.visibleRightCorner {
  opacity: 1;
}

.wideSize {
  min-width: 40rem;
  aspect-ratio: 4/3;

  @include breakpoints.breakpoint(mobile) {
    min-width: 32rem;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    min-width: 36rem;
  }
}

.autoSize {
  aspect-ratio: 4/6;
}

.smallSize {
  height: 27rem;
  min-width: 20rem;

  @include breakpoints.breakpoint(mobile) {
    min-width: 15rem;
    height: 21rem;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    min-width: 21rem;
    line-height: 30rem;
  }
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  transform: translate(-43%, -50%);
  @include transitions.default(width);
}

.bookmark {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 0rem;
  height: 0rem;
  @include transitions.default(all);
}

.title {
  color: colors.$font-headers;
  font-weight: 700;
}

.contentIn {
  width: 100%;
  padding: 0 3rem;
  position: absolute;
  bottom: 3rem;

  .title {
    font-size: 3rem;
  }

  .list {
    font-size: 1.5rem;
  }
}

.contentOut {
  width: 100%;
  padding-top: 2rem;

  .title {
    font-size: 2rem;
  }
}

.list {
  font-size: 1.2rem;
  margin-top: 0.8em;
  display: flex;
  flex-wrap: wrap;
}

.listEl {
  margin-right: 1rem;
}
