@import '../../styles/colors';

.header {
  height: 60px;
  width: 100vw;
  color: $primary-font;
  background-color: $primary-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
