@use "/src/styles/colors";
@use "/src/styles/sizes";
@use "/src/styles/mixins/breakpoints";

.container {
  background-color: colors.$bg-secondary;
  min-height: 8rem;
  border-radius: sizes.$border-radius;
  padding: 3rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;

  @include breakpoints.breakpoint(mobile) {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 3vw;
    row-gap: 3vw;
    padding: 1.5rem;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5vw;
    row-gap: 2.5vw;
  }
}

.leftHand {
  display: flex;

  & div {
    margin-right: 2rem;
  }

  & div:last-child {
    margin-right: 0rem;
  }
}

.input {
  background-color: colors.$bg-primary;
}
