@use "/src/styles/colors";
@use "/src/styles/mixins/transitions";

.text {
  @include transitions.default(color);
  cursor: pointer;
}

.text:hover {
  color: colors.$font-accent;
  @include transitions.default(color);
}

.button {
  margin-left: 1rem;
}
