@use "/src/styles/colors";
@use "/src/styles/mixins/transitions";
@use "/src/styles/mixins/breakpoints";

.container {
  position: relative;
  display: inline-block;
  background-color: black;
  border-radius: 1.6rem;
  cursor: pointer;

  &:hover {
    .img {
      filter: blur(2px);
      opacity: 0.5;
      @include transitions.default(filter);
    }

    .title {
      color: colors.$font-accent;
      @include transitions.default(color);
    }

    .bookmark {
      width: 3rem;
      height: 3rem;
      @include transitions.default(all);
    }

    .year {
      width: 5rem;
      height: 3rem;
      @include transitions.default(all);
      border: 0.2rem solid colors.$bg-accent;
      font-size: 1.5rem;
      border-radius: 1rem;
    }
  }
}

.bookmark {
  position: absolute;
  top: 2.5rem;
  left: 3rem;
  width: 0rem;
  height: 0rem;
  @include transitions.default(all);
}

.img {
  min-width: 40rem;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
  border-radius: 1.6rem;
  @include transitions.default(filter);

  @include breakpoints.breakpoint(mobile) {
    min-width: 32rem;
  }

  @include breakpoints.breakpoint(laptop-desktop) {
    min-width: 36rem;
  }
}

.title {
  position: absolute;
  left: 3rem;
  bottom: 6rem;
  color: colors.$font-headers;
  font-size: 3rem;
}

.genres {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

.genre {
  font-size: 1.5rem;
  color: colors.$font-headers;
  margin-right: 2rem;
  font-weight: 400;
}

.year {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  width: 0rem;
  height: 0rem;
  font-size: 0;

  @include transitions.default(all);

  background: colors.$bg-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}
