$mb-s: 992px;
$lp-s: 1300px;

:root {
  --mobile-size: #{$mb-s}; // uses for ts consts as well
  --laptop-size: #{$lp-s};
}

@mixin breakpoints($size) {
  @if $size == mobile {
    @media (max-width: calc($mb-s - 1px)) {
      @content;
    }
  } @else if $size == laptop-desktop {
    @media (min-width: $mb-s) and (max-width: calc($lp-s - 1px)) {
      @content;
    }
    /*@if $size == mobile {
    @media (max-width: 599px) {
      @content;
    }
      } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == laptop-desktop {
    @media (min-width: 992px) {
      @content;
    }
    } @else if $size == extra-large-devices {
    @media (min-width: 1200px) {
      @content;
    }*/
  }
}
